<!DOCTYPE html>
<html lang="cs">
  <head>
    <%-include("./partials/head", { title: "Vojtěch Habeš" })%>
  </head>
  <body>
    <%-include("./partials/header", { currentPage: "/" })%>

    <main>
      <article class="title-section">
        <section class="image">
          <img src="/images/me.webp" alt="Vojtěch Habeš" />
        </section>
        <section class="text">
          <h1>Vojtěch<br />Habeš</h1>
          <p class="title-description">Webový vývojář<br />UI/UX designér</p>
        </section>
      </article>

      <article class="normal primary">
        <div>
          <section class="content">
            <h2>
              Z řádků kódu dělám
              <span class="highlight">úchvatné</span> podívané.
            </h2>
            <p>
              Nezajímá mě jenom vývoj, ale i UI/UX design. Díky schopnosti
              spojit tyto dovednosti dokážu vytvářet produkty, které nejen
              ohromí, ale jsou také uživatelsky přívětivé.
            </p>
          </section>
          <section class="action">
            <a href="/about" class="button big secondary">Více o mně</a>
          </section>
        </div>
      </article>

      <article class="normal secondary">
        <div>
          <section class="content">
            <h2>Mé <span class="highlight">nejlepší</span> projekty.</h2>
            <% if (starredProjects.length !== 0) { %>
            <ul class="list">
              <% for (const project of starredProjects) { %>
              <li>
                <a href="/projects/<%=project._id%>">
                  <article>
                    <h3><%=project.title%></h3>
                    <p><%=project.description || "Úchvatný projekt."%></p>
                  </article>
                </a>
              </li>
              <% } %>
            </ul>
            <% } else { %>
            <p>Žádné významné projekty nebyly nalezeny.</p>
            <% } %> <% if (remainingProjectsCount > 0) { %>
            <a href="/projects#list" class="text-dim">
              +<%=remainingProjectsCount%> <%=remainingProjectsCount > 4 ?
              "dalších" : "další"%>
            </a>
            <% } %>
          </section>
          <section class="action">
            <a href="/projects#list" class="button big primary"
              >Všechny projekty</a
            >
          </section>
        </div>
      </article>

      <article class="normal primary" id="contact">
        <div>
          <section class="content">
            <h2>
              Máte <span class="highlight">nápad</span>? Díky mně se může stát
              <span class="highlight">skutečností</span>.
            </h2>

            <form
              id="contact-form"
              class="on-primary"
              action="<%=contactFormUrl%>"
              method="POST"
            >
              <div>
                <label for="name">Jak se jmenujete?</label>
                <input
                  type="text"
                  id="name"
                  name="name"
                  placeholder="Vaše jméno"
                />
              </div>

              <div>
                <label for="email">Jaký je Váš email?</label>
                <input
                  type="email"
                  id="email"
                  name="email"
                  placeholder="Váš email"
                />
              </div>

              <div>
                <label for="message">Krátce popište Vaši představu.</label>
                <textarea
                  id="message"
                  name="message"
                  placeholder="Vaše zpráva"
                  rows="1"
                ></textarea>
              </div>
            </form>
          </section>
          <section class="action">
            <button
              class="button big secondary"
              type="submit"
              form="contact-form"
            >
              Odeslat zprávu
            </button>
          </section>
        </div>
      </article>
    </main>

    <%-include("./partials/footer")%>
  </body>
</html>
