<!DOCTYPE html>
<html lang="cs">
  <head>
    <%-include("./partials/head", { title: project.title + " - Vojtěch Habeš"
    })%>
  </head>
  <body>
    <%-include("./partials/header", { currentPage: "/projects" })%>

    <main>
      <article class="title-section">
        <section class="image">
          <img src="<%=image%>" alt="<%=project.title%>" />
        </section>
        <section class="text">
          <h1><%=project.title%></h1>
          <p class="title-description">
            <%=project.description || "Úchvatný projekt."%>
          </p>
        </section>
      </article>

      <article class="normal primary">
        <div>
          <section class="content">
            <ul class="horizontal-list">
              <li>
                <p>vytvořil Vojtěch Habeš</p>
              </li>
              <li>
                <p>
                  vytvořeno <%= new
                  Date(project.createdAt).toISOString().split("T")[0] %>
                </p>
              </li>
            </ul>
          </section>
        </div>
      </article>
      <article class="post">
        <div><%-project.content%></div>
      </article>

      <article class="normal primary">
        <div>
          <section class="content">
            <h2>
              Podívejte se i na <span class="highlight">ostatní</span> projekty.
            </h2>
            <p>
              Toto je jen jeden z mých projektů. Pokud vás zajímají i ostatní,
              podívejte se na ně na stránce se všemi projekty.
            </p>
          </section>
          <section class="action">
            <a href="/projects#list" class="button big secondary"
              >Všechny projekty</a
            >
          </section>
        </div>
      </article>
    </main>

    <%-include("./partials/footer")%>
  </body>
</html>
