<!DOCTYPE html>
<html lang="cs">
  <head>
    <%-include("./partials/head", { title: "Projekt - Vojtěch Habeš" })%>
  </head>
  <body>
    <%-include("./partials/header", { currentPage: "/projects" })%>

    <header class="title-section">
      <section class="image">
        <!--Dynamic image will be done.-->
        <img src="/images/wavetag.webp" alt="WaveTag" />
      </section>
      <section class="text">
        <h1><%=project.title%></h1>
        <p class="title-description"><%=project.description%></p>
      </section>
    </header>

    <main>
      <article class="normal primary">
        <div>
          <section class="content">
            <ul class="horizontal-list">
              <li>
                <p>vytvořil Vojtěch Habeš</p>
              </li>
              <li>
                <p>
                  publikováno <%= new
                  Date(project.createdAt).toISOString().split("T")[0] %>
                </p>
              </li>
            </ul>
          </section>
        </div>
      </article>
      <article class="post">
        <div><%-project.content%></div>
      </article>

      <article class="normal primary">
        <div>
          <section class="content">
            <h2>
              Podívejte se i na <span class="highlight">ostatní</span> projekty.
            </h2>
            <p>
              Toto je jen jeden z mých projektů. Pokud vás zajímají i ostatní,
              podívejte se na ně na stránce se všemi projekty.
            </p>
          </section>
          <section class="action">
            <a href="/projects" class="button big secondary"
              >Všechny projekty</a
            >
          </section>
        </div>
      </article>
    </main>

    <%-include("./partials/footer")%>
  </body>
</html>
