<!DOCTYPE html>
<html lang="cs">
  <head>
    <%-include("./partials/head", { title: "Projekty - Vojtěch Habeš" })%>
  </head>
  <body>
    <%-include("./partials/header", { currentPage: "/projects" })%>

    <main>
      <article class="title-section">
        <section class="image">
          <img src="/images/me2.webp" alt="Vojtěch Habeš" />
        </section>
        <section class="text">
          <h1>Mé projekty</h1>
          <p class="title-description">Můj kreativní svět.</p>
        </section>
      </article>

      <article class="normal primary">
        <div>
          <section class="content">
            <h2>Baví mě <span class="highlight">vytvářet</span> nové věci.</h2>
            <p>
              S nadšením tvořím nástroje, které usnadňují lidem život. Nejraději
              vytvářím webové stránky a webové aplikace, ale velice rád se
              zapojím i do jiných projektů.
            </p>
          </section>
          <section class="action">
            <a href="/about" class="button big secondary">Více o mně</a>
          </section>
        </div>
      </article>

      <article class="normal secondary" id="list">
        <div>
          <section class="content">
            <h2>Mé <span class="highlight">všechny</span> projekty.</h2>
            <p>
              I přes to, že jsem teprve na začátku své kariéry, mám již za sebou
              několik i větších projektů, na kterých jsem pracoval.
            </p>
            <% if (projects.length !== 0) { %>
            <ul class="list">
              <% for (const project of projects) { %>
              <li>
                <a href="/projects/<%=project._id%>">
                  <article>
                    <h3><%=project.title%></h3>
                    <p><%=project.description%></p>
                  </article>
                </a>
              </li>
              <% } %>
            </ul>
            <% } else { %>
            <p>Nebyly nalezeny žádné projekty.</p>
            <% } %>
          </section>
        </div>
      </article>

      <article class="normal primary">
        <div>
          <section class="content">
            <h2>
              Máte <span class="highlight">nápad</span>? Díky mně se může stát
              <span class="highlight">skutečností</span>.
            </h2>
            <p>
              Pokud máte nápad na projekt, který byste chtěli realizovat,
              neváhejte mě kontaktovat. Rád se zapojím do vašeho projektu a
              pomohu vám ho realizovat.
            </p>
          </section>
          <section class="action">
            <a href="/#contact" class="button big secondary">Spojme se</a>
          </section>
        </div>
      </article>
    </main>

    <%-include("./partials/footer")%>
  </body>
</html>
